.content {
  background-image: url('https://bing.com//th?id=OHR.LittleBlueHeron_ROW0872052595_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp');
  background-size: cover;
  height: 100vh;
}

.main-content {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 5fr 2fr 2fr;
  height: 100vh;
  width: 60vw;
  margin: 0 auto;
}

.input-container {
  display: flex;
  opacity: 0.9;
}

.input-container * {
  padding: 1rem;
  color: #8d8a86;
}

.input-container svg {
  height: 100%;
  width: 10rem;
  background: white;
}

.city-input {
  width: 100%;
  font-size: 4rem;
  outline: none;
}

.spinner {
  width: 100%;
  background: white;
  position: relative;
}

.spinner-content{
  position: absolute;
  padding: 0!important;
  right: 3rem;
  top: 1.5rem;
}

.search-results {
  display: none;
  position: absolute;
  top: 9rem;
  background: white;
  z-index: 100000000;
  width: 100%;
  padding: 1rem;
}

.search-results ul {
  list-style: none;
}

.list-item {
  cursor: pointer;
}

.list-item:not(:last-child) {
  padding-bottom: 2rem;
}

.search-results.show {
  display: block;
}

.today,
.tomorrow,
.after-tomorrow {
  display: grid;
  grid-template-columns: 4fr 3fr;
  opacity: 0.9;
  padding: 2rem;
}

.today p,
.tomorrow p,
.after-tomorrow p {
  color: white;
  font-weight: 500;
  font-size: 32pt;
}

.today {
  background: #565656;
}

.today svg {
  justify-self: center;
}

.today .weather-info p {
  margin-bottom: 1rem;
}

.tomorrow {
  background: #6d6d6d;
}

.after-tomorrow {
  background: #7f7f7f;
}

.degrees {
  color: white;
  font-size: 36pt;
  font-weight: 500;
  margin-bottom: 3rem;
  cursor: pointer;
}

.weather-main {
  color: white;
  font-size: 36pt;
  font-weight: 500;
  margin-bottom: 2rem;
}

.weather-desc div {
  color: white;
  font-size: 28pt;
  font-weight: 500;
}
